%p
  %label
    Title
    %br
    = f.text_field :title
%p
  %label
    Layout
    %br
    = f.select(:page_layout_id, PageLayout.find(:all).collect {|h| [ h.title, h.id ] })
%p
  %label
    Requires login
    = f.check_box :requires_login
%p
  %label
    Can be cached
    = f.check_box :cacheable
%p
  %label
    Url
    %br
    = f.text_field :url
%p
  %label
    Body
    %br
    ~ f.text_area :body, { :style => 'width:550px' }
