%p
  %b
    Title
  %br
    = f.text_field :title
%p
  %b 
    Layout
  %br
  = f.select(:page_layout_id, PageLayout.find(:all).collect {|h| [ h.title, h.id ] })
%p
  %b
    Requires login
    = f.check_box :requires_login
%p
  %b
    Can be cached
    = f.check_box :cacheable

%p
  %b
    Url
  %br
  = f.text_field :url
%p
  %b
    Body 
  %br
    ~ f.text_area :body, {:style=>'width:550px;'}