#header
  #header_left
    %h3 Listing pages
  #header_right
    = image_tag('admin/add.png')
    = link_to 'New page', new_admin_page_path
#wrapper
  %table
    %tr
      %th Title
      %th Url
      %th &nbsp;
      %th &nbsp;
    - for page in @pages
      %tr
        %td= h page.title
        %td= h page.url
        %td= link_to image_tag('admin/pencil.png'), edit_admin_page_path(page)
        %td= link_to image_tag('admin/cross.png'), [:admin, page], :confirm => 'Are you sure?', :method => :delete

