#header
  #header_left
    %h3 Listing pages
  #header_right
    = image_tag('admin/add.png')
    = link_to 'New page', new_admin_page_path
#wrapper
  %table
    %tr
      %th Title
      %th Url
      %th Requires login
      %th Can be cached
      %th Layout
      %th Last Update
      %th &nbsp;
      %th &nbsp;
    - for page in @pages
      %tr
        %td= h page.title
        %td= h page.url
        %td= page.requires_login ? "YES" : "NO"
        %td= page.cacheable ? "YES" : "NO"
        %td= page.page_layout.title if page.page_layout.present?
        %td= h page.updated_at
        %td= link_to image_tag('admin/pencil.png'), edit_admin_page_path(page)
        %td= link_to image_tag('admin/cross.png'), [:admin, page], :confirm => 'Are you sure?', :method => :delete

