#header
  #header_left
    %h3
      New page
  #header_right

#wrapper
  = error_messages_for :page

  - form_for([:admin, @page], :url => admin_pages_path) do |f|
    #page-edit
      = render(:partial => 'form', :locals => {:f => f})
      = submit_tag "Create"
      = link_to 'Back', admin_pages_path
  = render :partial => 'admin/shared/syntax_help'
  .clear
