#header
  #header_left
    %h3 Editing page layout

#wrapper
  = error_messages_for :page_layout

  - form_for([:admin, @page_layout]) do |f|
    #page-edit
      = render :partial => 'form', :locals => {:f => f}
      = submit_tag "Update"
      = link_to 'Back', admin_page_layouts_path
  = render :partial => 'admin/shared/syntax_help'
  .clear
