- content_for :header_left do
  Listing page layouts
- content_for :header_right do
  = image_tag('admin/add.png', :size => '16x16')
  = link_to 'New page layout', new_admin_page_layout_path

%table
  %tr
    %th Title
    %th Last Update
    %th
    %th
  - @page_layouts.each do |page_layout|
    %tr
      %td= h page_layout.title
      %td= h page_layout.updated_at
      %td= link_to image_tag('admin/pencil.png', :size => '16x16'), edit_admin_page_layout_path(page_layout)
      %td= link_to image_tag('admin/cross.png', :size => '16x16'), [:admin, page_layout], :confirm => 'Are you sure?', :method => :delete
