- content_for :header_left do
  New page layout
- content_for :header_right do
  = link_to_back 'Back', admin_page_layouts_path

= error_messages_for @page_layout

= form_for([:admin, @page_layout], :url => admin_page_layouts_path) do |f|
  #page-edit
    = render(:partial => 'form', :locals => {:f => f})
    = submit_tag "Create"
= render :partial => 'admin/shared/syntax_help'
.clear
