%fieldset#filters
  %legend Filters
  #scopes
    - if resource_admin_config.actions_index.any?
      %label Predefined filters:
      %ul
        - resource_admin_config.scopes.each do |scope|
          %li<
            = link_to "#{scope.to_s.titlecase} <span class=\"count\">(#{resource_class.send(scope).count})</span>".html_safe, "#{admin_resource_path}&scope=#{scope}"
  - if resource_admin_config.attributes_search.any?
    #search_filters
      %label |
        Search filters (
        %a#show{ onclick: "Adminsite.showSearchForm();" }
          = @search_params.present? ? 'Edit' : 'New'
        ) |
      - if @search_params.present?
        %ul
          - @search_params.map do |q|
            - op = q.first.split('_').last
            - column = q.first.chomp("_#{op}")
            - value = q.last
            %li<
              #{column.gsub('_',' ').capitalize} |
              #{Ransack::Translate.predicate(op)}: |
              '#{value}' |
              %button{type: 'button', "data-filter-column" => column, "data-filter-value" => q.last, "data-filter-op" => op } ×
