= paginate(@resources, :window => 2)

%table
  %thead
    %tr
      - if resource_admin_config.actions_placement == :left
        %th Actions
      %th
      - resource_admin_config.attributes_index.each do |attr|
        %th= sort_link(@q, attr)
      - if resource_admin_config.actions_placement == :right
        %th Actions
  %tbody
    - @resources.each do |resource|
      %tr{onclick: 'Adminsite.selectedRow(this);'}
        - if resource_admin_config.actions_placement == :left
          = render partial: 'list_actions', locals: {resource: resource }
        %td.resource_selection_cell
          = check_box_tag 'collection_selection[]', resource.id, false, :class => 'collection_selection'
        - resource_admin_config.attributes_index.each do |attr|
          = display_resource_value(resource, attr)
        - if resource_admin_config.actions_placement == :right
          = render partial: 'list_actions', locals: {resource: resource }

= paginate(@resources, :window => 2)

