%table
  %tr
    %th
    - resource_admin_config.attributes_index.each do |attr|
      %th= sort_link(@q, attr)
    - resource_admin_config.default_member_actions.each do |action|
      %th
  - @resources.each do |resource|
    %tr{onClick: 'selectedRow(this);'}
      %td.resource_selection_cell
        = check_box_tag 'collection_selection[]', resource.id, false, :class => 'collection_selection'
      - resource_admin_config.attributes_index.each do |attr|
        = display_resource_value(resource, attr)
      - resource_admin_config.default_member_actions.each do |action|
        %td= send("link_to_#{action}", resource)

= paginate(@resources, :window => 2)
%br