.search_form
  %a#show{onClick: 'showSearchForm();'} Show Filters
  %a#hide{onClick: 'hideSearchForm();', style: 'display:none'} Hide Filters
  = search_form_for(@q, :url => admin_resource_path(nil), method: :get, html: { style: 'display:none'} ) do |f|
    %div{id: "#{controller_name}-search"}
      %ul
        - resource_admin_config.attributes_search.each do |search_attr|
          - begin
            %li
              = f.label("#{search_attr}")
              = f.predicate_select({:only => [:cont, :eq]}, {name: "p[#{search_attr}]", onchange: "document.getElementById('q_#{search_attr}').name = 'q[#{search_attr}_' + this.value + ']';" })
              = f.search_field("#{search_attr}")
              :javascript
                predicate_obj = document.getElementsByName('p[#{search_attr}]')[0];
                predicate_obj.onchange();
          - rescue

      .actions
        =# link_to "remove", '', class: "remove_fields"
        = f.submit "Search"

