- content_for :header_left do
  = "Listing #{label_resource_class_plural}"
- if resource_admin_config.actions_index.any?
  - content_for :header_right do
    #action_bar
      - resource_admin_config.actions_index.each do |action|
        = send("link_to_#{action}", action.to_s.titlecase)
    = render partial: 'filters'
    = render partial: 'search_form'

= render partial: 'list'
