- content_for :header_left do
  = "New #{label_resource_class}"
- content_for :header_right do
  = link_to_back 'Back', admin_resource_path

= error_messages_for @resource


%div{id: resource_class_underscore}
  = semantic_form_for([:admin, @resource], :url => admin_resource_path, as: resource_class_underscore, namespace: resource_class_underscore ) do |f|
    %div{id: "#{resource_class_underscore}-new"}
      = render :partial => 'form', :locals => { :f => f }
      = submit_tag "Create"

