- content_for :header_left do
  = "Show #{label_resource_class}: '#{label_resource}'"
- content_for :header_right do
  = link_to_back 'Back', admin_resource_path

.formtastic
  %table
    - resource_admin_config.attributes_show.each do |attr|
      %tr
        %th
          = "#{attr.to_s.titlecase}:"
        = display_resource_value(@resource, attr)

