- content_for :header_left do
  Edit admin “#{@admin.email}”
- content_for :header_right do
  = link_to_back 'Back', admin_admins_path

= error_messages_for @admin

= form_for([:admin, @admin]) do |f|
  %p
    %label
      E-mail
      %br
      = f.text_field :email, :type => 'email'
  %p
    %label
      New password
      %br
      = f.password_field :password
  %p
    %label
      Password confirmation
      %br
      = f.password_field :password_confirmation
  %p
    = submit_tag "Update"
