#header
  #header_left
    %h3 Listing administrators
  #header_right
    - form_for(:admin, :url => "#{admin_admins_path}.yaml", :html => { :multipart => true }) do |f|
      = image_tag('admin/add.png')
      = link_to 'New administrator', new_admin_admin_path
    
#wrapper
  %table
    %tr
      %th Login
      %th OpenId
      %th &nbsp;
      %th &nbsp;
    - for admin in @admins
      %tr
        %td= h admin.login
        %td= h admin.openid_identifier
        %td= link_to image_tag('admin/pencil.png'), edit_admin_admin_path(admin)
        %td= link_to image_tag('admin/cross.png'), [:admin, admin], :confirm => 'Are you sure?', :method => :delete