- if @resources.any?
  = render :file => 'adminsite/admin/resources/index'
- else
  - content_for :header_left do
    = "Listing #{label_resource_class_plural}"
  - content_for :header_right do
    = link_to_add "New #{label_resource_class}", admin_resource_path(nil, 'new')
  There are no page layouts. Go ahead and
  #{link_to 'add the first one', new_admin_page_layout_path}.
