- if Adminsite::PageLayout.any?
  = render :file => 'adminsite/admin/resources/index'
- else
  - content_for :header_left do
    = "Listing #{label_resource_class_plural}"
  - content_for :header_right do
    #action_bar
      = link_to_new "New #{label_resource_class}"
  There are no page layouts. Go ahead and
  #{link_to 'add the first one', admin_resource_path(nil, :new)}.
