#header
  #header_left
    %h3 <%= class_name %> exports
  #header_right
    = image_tag('admin/add.png')
    = link_to 'Generate #{file_name} export', admin_#{file_name}_exports_path, :method => :post
#wrapper


  %p
    %table
      %tr
        %th Filename
        %th
      - <%= class_name %>Export.generated_export_files.each do |file|
        - basename = File.basename(file, ".xlsx")
        - basename = File.basename(basename, ".csv")
        %tr
          %td= link_to file, admin_#{file_name}_export_path(basename)
          %td= link_to image_tag('admin/cross.png'), admin_#{file_name}_export_path(basename), :confirm => 'Are you sure?', :method => :delete
