#admin_menu.menu
  %ul
    = yield :admin_menu

    = menu_item 'IFrames', admin_rhg_index_path, ['rhg_index']
    =# menu_item 'Statistics',     admin_statistics_path,                  ['statistics', 'saulabs_reportable_report_caches']
    = menu_item 'Data',           admin_profiles_path,                  ['profiles']
    = menu_item 'CMS',            admin_adminsite_pages_path,           ['adminsite_pages', 'adminsite_file_assets', 'adminsite_page_layouts']
    = menu_item 'System',         admin_adminsite_admin_users_path,     ['adminsite_admin_users', 'profiles']
  %ul
    = menu_item 'Log out', destroy_adminsite_admin_user_session_path, [], 'log_out', :delete
.clearfix
