- content_for :header_left do
  = "Profile: #{@profile.email}"
- content_for :header_right do
  = link_to_back "Back", admin_profiles_path

%table
  %tr
    %th Attribute
    %th Value
  - attr_lst = Profile.new.attributes.except("password_hash", "password_salt").keys << "password_present?"
  - attr_lst.sort.each do |attr|
    %tr
      %th= attr
      %td= @profile.try(attr.to_sym)