!!!
%html{ "lang" => "en" }
  %head
    %meta{ "charset" => "utf-8" }
    %title
      Administration:
      = controller.action_name.capitalize
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
  %body
    %h1
    = render :partial => 'admin/shared/menu' if current_admin.present?

    - if flash[:notice].present?
      #flashnotice
        = flash[:notice]
    - if flash[:error].present? || flash[:alert].present?
      #flasherror
        = flash[:error]
        = flash[:alert]

    #header
      #header_left
        %h2
          = yield :header_left
      #header_right
        = yield :header_right
      .clearfix
    #wrapper
      = yield
